<script>

    function fun() {
        console.log('[ROUNDDATA LOADED]-----------------------------');
    };
    

</script>
            <canvas id="board"></canvas>
                 <script type="text/javascript" src="round.main.js"></script>

            <div id="score_div" style="background: red;">
                <ul id="score_ul">
                    <table style="width:100%" onload="fun()">

                        <tr stlye="align-content: center;">
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                            <td id="score_number">0</td>
                        </tr>

                    </table>
                    



                </ul>
            </div>

