<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ROUND _</title>
    <link href="/round.css" rel="stylesheet" type="text/css">
    <link href="/snafu.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="topper">
        <center>
            <h2 id="playerlist" style="font-style: italic"> CONNECTED PLAYERS: d74g0n fixer furquan CamperMason </h2>
        </center>
    </div>
    <br> <br> <br> <br>
    <center>

        <center>
            <canvas id="board"></canvas>
            <script type="text/javascript" src="round.main.js"></script>
            <script type="text/javascript" src="round.js"></script>

            <div id="score_div">
                <ul id="score_ul">
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                    <li id="score_li"><span id="cookie_playername"> SNAFUBABSNAFUBAB1 </span></li>
                </ul>
            </div>

        </center>
        <div id="footey">
            <center>
            </center>
        </div>
</body>

<!--<script type="text/javascript" src="css_toggler.js"></script>-->

</html>
