<!DOCTYPE html>
<!--
Notes:
This is the most advanced/clean login system I have built.
This is highest refactor
-=


-->
<html>

<head>.

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>SNAFUBAD</title>

    <link href="index.css" rel="stylesheet" type="text/css">
    <!--=-=-=-=-=-[ socket.io:    ONLY SRC LOADED SCRIPT     -->
    <script id="JS_socket.io" type="text/javascript" src="/socket.io.dev.js"></script>
    <script type="text/javascript" src="/header.js"></script>
    <!--=-=-=-=-=-[ socket.io connection logic:         -->
</head>

<body onload="BIN.buts.load()">
    <div id="topper">
        <center>
            <h5 id="quote">"Recognize Abstract Patterns"</h5>
        </center>
    </div>

    <br> <br> <br>
    <center>

        <div id="score_div" style="margin-bottom: 24px">
            <ul id="score_ul">
                <table style="width:100%">
                    <tr stlye="align-content: center;">
                        <td id="ps0" class="score_number">0</td>
                        <td id="ps1" class="score_number">0</td>
                        <td id="ps2" class="score_number">0</td>
                        <td id="ps3" class="score_number">0</td>
                        <td id="ps4" class="score_number">0</td>
                        <td id="ps5" class="score_number">0</td>
                        <td id="ps6" class="score_number">0</td>
                        <td id="ps7" class="score_number">0</td>
                    </tr>
                    <tr stlye="align-content: center;">
                        <td id="pn0" class="online_player">01234567890123456</td>
                        <td id="pn1" class="online_player">01234567890123456</td>
                        <td id="pn2" class="online_player">01234567890123456</td>
                        <td id="pn3" class="online_player">01234567890123456</td>
                        <td id="pn4" class="online_player">01234567890123456</td>
                        <td id="pn5" class="online_player">01234567890123456</td>
                        <td id="pn6" class="online_player">01234567890123456</td>
                        <td id="pn7" class="online_player">01234567890123456</td>
                    </tr>
                </table>
            </ul>
        </div>

    </center>

    <center>
        <canvas id="board"></canvas>
        <!--            <script type="text/javascript" src="round.main.js"></script>-->
        <script type="text/javascript" src="round.js"></script>

    </center>
 <center>

        <div id="console_div" >
                <table id="consolebar" style="width:100%;">
                    <tr stlye="align-content: center;">
                        
                        <td id="console0" class="console_top"></td>
                        <td id="console0" class="console_top"></td>
                        <td id="console0" class="console_top"></td>
                        <td id="round_celltop" class="console_top">
                            <center>
                            ROUND
                            </center>
                        </td>
                        <td id="console0" class="console_top"></td>
                        <td id="console0" class="console_top"></td>
                        <td id="console0" class="console_top"></td>
                    </tr>
                    <tr stlye="align-content: center;">
                        
                        <td id="consoleb0" class="console_bottom"></td>
                        <td id="consoleb0" class="console_bottom"></td>
                        <td id="consoleb0" class="console_bottom"></td>
                        <td id="round_celldata" class="console_bottom"><center><button id='btn_join' onclick='BIN.buts.join()' style="margin-top: 10px; background: transparent;">JOIN NEXT</button></center></td>

                        <td id="consoleb0" class="console_bottom"></td>
                        <td id="consoleb0" class="console_bottom"></td>
                        <td id="consoleb0" class="console_bottom"></td>
                    </tr>
                </table>
        </div>

    </center>
    <center>



    </center>

    <div id="Name_modal" class="modal">
        <center>
            <div class="modal-content">
                <button onclick='BIN.buts.load()' style="margin-right: 20px; background: transparent;">Load</button>
                <span class="label"> WHO AM I? </span>
                <button onclick='BIN.buts.save()' style="margin-left: 20px; background: transparent;">Save</button>
                <div id="InputDiv">
                    <input type="text" id="inputName" maxlength="17" name="Name" value=""><br>
                    <div id="minicanvas_div">
                        <center id="minicanvas">
                        </center>
                        <script type="text/javascript" src="/canvasc.js"></script>
                        <br>
                        <div id="colorpicker">
                            <canvas id="colorpickwindow"></canvas>
                            <script type="text/javascript" src="/canvasg.js"></script>
                        </div>
                    </div>
                    <button onclick='BIN.buts.ready()'>Ready</button>
                    <button onclick='BIN.buts.defaults()'>Defaults</button>
                </div>
            </div> <!-- modal-content end -->
        </center>
    </div><!-- end Modal -->








    <div id="wrapper"></div>
    <!--bottom of viewport screen-->
    <!--    complete form  -->
    <div id="footey">
        <center id="footcenter"></center>
    </div>
    <!--    complete form  -->
    <!--    form complete   -->
</body>

</html>
