<!DOCTYPE html>
<html>

<head>

    <style>
        * {
            user-select: none;
        }

        #score_ul {
            margin: 0;
            width: 95%;
            height: 100%;
            background: transparent;
            text-decoration: none;
            list-style: none;
            align-content: center;
            padding: 0;
        }

        #score_li {
            margin: 10px;
            padding-left: 8px;
            padding-right: 8px;
            float: left;
            display: block;
            /*    height: 50px;*/
            background: transparent;
            width: auto;
            max-width: 195px;
            border-radius: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            border: 2px solid black;
        }

        #cookie_playername {
            color: gold;
        }



        
        #board {
            margin-top: 4em;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            width: 784px;
            height: 528px;
            background: darkgreen;
            box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
        }


        #score_div {
            margin-top: 3em;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            width: 784px;
            height: 107px;
            background: darkgreen;
            box-shadow: 0px 0px 2px 1px rgb(0, 0, 0);
        }

        #InputDiv {
            margin-top: 1em;
            padding: .5em;
            background: green;
            background: green;
            width: 300px;
            border-radius: 7px;
            border: 1px solid rgb(204, 43, 43);
            font-style: italic;
        }

        #inputName {
            text-align: center;
            font-size: 20px;
            border-radius: 7px;
            background: gold;
            border-color: rgb(204, 43, 43);
            color: blue;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 50%;
            height: 100%;
            overflow: auto;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: darkblue;
            /*    background-color: rgb(104,196,255);*/
            margin: 15% auto;
            margin: 7em auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid gold;
            border: 1px solid rgb(204, 43, 43);
            border-radius: 7px;
            width: 350px;
            /* Could be more or less, depending on screen size */
        }

        .close {
            color: #c00;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-top: -0.7em;
            margin-right: -0.5em;
            text-shadow: 1px 1px #200;
            transition: 0.1s;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .label {
            /*    padding-left: 1em;*/
            color: gold;
            text-shadow: 0.5px 0.5px #ff0000;
        }

        button:hover {
            border-radius: 7px;
            background: gold;
            border-color: rgb(204, 43, 43);
            color: darkblue;
            border-width: 1px;
        }

        button {
            border-radius: 7px;
            background: darkblue;
            border-color: rgb(204, 43, 43);
            color: gold;
            border-width: 1px;
            transition: 0.2s;
        }


        @font-face {
            font-family: "Audiowide-Regular";
            src: url("./Audiowide-Regular.ttf") format("truetype");
        }

        td {
            text-align: center;
            width: 10%;
            font-family: 'Audiowide-Regular';
        }

        #score_number {
            padding-top: 4px;
            font-size: 64px;
            color: gold;
        }

        score_name {
            padding: 0px;
            margin: 0px;

        }

    </style>

    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>SNAFUBAL</title>
    <link href="loginbasic.css" rel="stylesheet" type="text/css">
    <script id='soundsystem'>
        window.gsound_sys = {};
        // -=-=-=- [ GLOBAL Sound System ]
        window.gsound_sys.toggle_ost = function() {

            if (ost.length == 0) {
                clog('[OST][INITALIZED]');
                global.flog('[OST][INITALIZED]');
                load_ost_track(1);
            } else {
                if (!ost[0].paused) {
                    clog('[.sound_sys.toggle_ost][OST][PAUSED]');
                    global.flog('[OST][PAUSED]');
                    ost[0].pause();
                } else {
                    clog('[OST][PLAYING]');
                    global.flog('[OST][PLAYING]');
                    ost[0].play();
                }
            }
        }
        // gsound Lists:
        window.gsound_sys.sfx = [];

        window.gsound_sys.ost = [];
        let ost = window.gsound_sys.ost;

        // gsound Defaults:
        window.gsound_sys.main_vol = 0.5;
        let main_vol = window.gsound_sys.main_vol;
        // g_sound core:
        (function init_sound_object(how_many = 2) {

            function load_sounds(fxFileCount) {
                fxFileCount--; // adjust for zero
                let soundbank = [];
                for (i = 0; i <= fxFileCount; i++) {
                    soundbank[i] = new Audio('/fx00' + i + '.wav');
                    soundbank[i].preload = 'true';
                    soundbank[i].volume = main_vol;
                }
                return soundbank;
            }

            sfx = load_sounds(how_many);
            console.log('[SFX LOADED]');
        })();

        function load_ost_track(num = 0) {
            // Cannot be execution level - hoisted because of loading file.
            // (cannot do what i did for init sound object)
            num = 0;

            ost[num] = new Audio('/ost00' + (num + 1).toString() + '.wav');
            ost[num].volume = main_vol;
            ost[num].loop = true;
            ost[num].preload = 'auto';
            ost[num].oncanplay = function() {

                if (ost[num].loaded) {
                    ost[num].play();
                } else {
                    console.log('LOADING OST [TRACK][' + num + ']');
                    //                    global.flog('LOADING OST [TRACK]['+num+']');
                    splay(ost[num]);
                }
            }
        }

        function audio_normalize(media) {
            media.volume = main_vol;
            media.preload = 'auto';
            return media;
        }

        function splay(media) {
            audio_normalize(media);
            let playPromise = media.play();

            if (playPromise !== null) {
                playPromise.catch(() => {
                    media.play();
                });
            }
        }
        // -=-=- End of gsound_sys functions^

        //load_ost_track(); // this causes music to autoplay.

    </script>






    <!--=-=-=-=-=-[ socket.io:    ONLY SRC LOADED SCRIPT     -->
    <script id="JS_socket.io" type="text/javascript" src="/socket.io.dev.js"></script>
    <!--=-=-=-=-=-[ socket.io connection logic:         -->

    <script id="JS_socketlogic">
        // [B&W][NOTE] - SINGLE PLAYER = IF NO SOCKET CONNECTION
    const socket = io('http://localhost:1055'); // -=- connect
    window.socket = socket; // -=- alias global socket    

    window.footyprep = function(msg) {
        let footyid = document.getElementById('footcenter');
        let _fs = document.getElementById('footcenter').style;
        _fs.fontSize = '16px';
        _fs.color = 'white';
        _fs.margin = 'auto';
        _fs.padding = '4px';
        let preppedfoot = "<h5> " + msg.toString() + " </h5>";
        return preppedfoot;
    }    
        
    socket.on('connection_quote', function(data){
    // [B&W] REFACTOR TO ANIMATE EASE IN / OUT:::
        return document.getElementById('quote').innerHTML=data.toString();
    });
        
    socket.on('console_message', function(data){
        document.getElementById('footcenter').innerHTML = window.footyprep(data);        
        console.log('[console_message.io]'+ data);
    });       
     
    socket.on('welcome', function (data) {
        console.log('[onwelcome]');
//                 console.log(JSON.stringify(data));
        global.setCookie('state', 'lobby', 1);
        global.setCookie('sid', socket.id, 1);
        // DEBUG LEVEL
        console.log(document.cookie);
//        console.log(data);
        global.prepRound(data);
    });
    </script>

    <script id="JS_cookiecoreA">
        const global = window;
    // -=-=-=- Passing New JS Here:      
        global.setGFn = function (keyname, fn){
            global.keyname = fn;
        }
        
        global.runGFn = function (keyname) {
            keyname = keyname.toString();
            global.keyname();
        }
        
        global.runAnon = function (anonfn) {
            console.log('[RC-----I]');
            anonfn();
            console.log('[RC-----O]');
        }

        // usage::
        let exampleFn = function(test = 'hello'){
           console.log(test) ;
        };

        global.runAnon(exampleFn);
        
         global.flog = function (msg) {
             document.getElementById('footcenter').innerHTML = window.footyprep(msg);
         }
         
         // cookie handling::

        global.getCookie = function(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return false;
        }
        
        global.setCookie = function(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        
        global.setRoundHtml = function(htmldata) {
            let roundAnchor = document.getElementById('roundAnchor');
            roundAnchor.innerHTML = htmldata;
            document.getElementById('roundframe').style.display = 'none';
            document.getElementById('roundframe').style.display = 'block';
        }
        
         global.prepRound = function(htmlin) {
             // used with ready_btn:
             let Name_modal = document.getElementById('Name_modal');
             // hide login modal:
            Name_modal.style.display = 'none';
             // post 'htmlin' data:
            global.setRoundHtml(htmlin.toString());
        }

        let BIN = {};
        
        BIN.game_defaults = {
            color_init: 'yellow',
        };
        
        BIN.sendLoginData = function(socket, Data) {
            return socket.emit('login', Data);
        };
          
        let sendLoginData = BIN.sendLoginData;
        // BIN: login Buttons logic 
        BIN.buts = {
            load: function() {
                let value = global.getCookie('name');
                let value2 = global.getCookie('color');
                if (!value) {
                    value = 'SNAFU_MASTER';
                }
                if (!value2) {
                    value2 = BIN.game_defaults.color_init;
                }
                document.getElementById("inputName").value = value;
                preview_snake.color = value2;
                 sfx[1].play();
                clog('[BIN.buts.load][lname][' + value + ']');
                clog('[BIN.buts.load][color]' + value2 + ']');
            },
            save: function() {
                // AUDIO NOTE:
                sfx[0].play();
                var value = document.getElementById("inputName").value;

                preview_snake.name = value;
                var value2 = preview_snake.color;
                clog('[BIN.buts.save][' + value + ']');
                clog('[BIN.buts.save][' + value2 + ']');
                global.setCookie('name', value, 7);
                global.setCookie('color', value2, 7);
            },
            ready: function() {
                // AUDIO NOTE:
                clearInterval(timers[0]);
                sfx[0].play();
                
                function login() {
                    BIN.buts.save();
                    let clientdata = {};
                    clientdata.name = preview_snake.name;
                    clientdata.color = preview_snake.color;
                    clientdata.sid = socket.id;
                    clientdata.state = 'greet';
                    global.setCookie('state', 'greet', 1);
                    socket.emit('login', clientdata);
                    setTimeout(roundcode, 1000);
                }

                login();

            },
            defaults: function() {
                clog('[BIN.buts.defaults]');
                preview_snake.color = BIN.game_defaults.color_init;
                document.getElementById("inputName").value = 'SNAFU_MASTER';
                // STEREO WIRING:: 
                sfx[1].play();
            }
        }
    </script>

    
    
</head>

<body onload="BIN.buts.load()">
    <div id="topper">
        <center>
            <h5 id="quote">"Recognize Abstract Patterns"</h5>
        </center>
            </div>
        <div id="roundframe">
            <center id="roundAnchor">

            </center>
        </div>



    <div id="Name_modal" class="modal">
        <center>
            <div class="modal-content">
                <button onclick='BIN.buts.load()' style="margin-right: 20px; background: transparent;">Load</button>
                <span class="label"> WHO AM I? </span>
                <button onclick='BIN.buts.save()' style="margin-left: 20px; background: transparent;">Save</button>
                <div id="InputDiv">
                    <input type="text" id="inputName" maxlength="17" name="Name" value=""><br>
                    <div id="minicanvas_div">
                        <center id="minicanvas">
                        </center>
                        <script id="LoginWindowCode">
                            let engine = {};
                            let _e = engine;
                            window.engine = engine;

                            engine.default = {
                                fps: 120,
                                cols: 17,
                                rows: 5,
                                scale: 16,
                                lerpamt: 0.2,
                                lps: 12, // the frequency of lerp animation updates via modolo
                                cdx: function() {
                                    return ((engine.default.cols * engine.default.scale) + engine.default.cols) + 0;
                                },
                                cdy: function() {
                                    return ((engine.default.rows * engine.default.scale) + engine.default.rows) + 0;
                                },
                                _left: 0,
                                _top: 0,
                                _gapX: 1,
                                _gapY: 1,
                                styles: {
                                    background: 'darkgreen',
                                },
                            }

                            engine.lerp = function(start, end, amt) {
                                return (1 - amt) * start + amt * end
                            }

                            engine.X = function(x) {
                                return (x + (x * engine.default.scale) + engine.default._left);
                            }

                            engine.Y = function(y) {
                                return (y + (y * engine.default.scale) + engine.default._top);
                            }

                            engine.Box = function(x, y, color = 'rgb(255,0,255)') {


                                let sBox = function(x, y, color = 'rgb(255,0,255)') {
                                    x--;
                                    y--;
                                    c.beginPath();
                                    c.strokeStyle = color;
                                    //    c.strokeStyle = _e._rndColor();
                                    x = engine.X(x);
                                    y = engine.Y(y);
                                    c.strokeRect(x + 0.5, y + 0.5, engine.default.scale, engine.default.scale);
                                    c.stroke();
                                }

                                let fBox = function(x, y, color = 'rgb(255,0,255)') {
                                    x--;
                                    y--;
                                    c.beginPath();
                                    c.fillStyle = color;
                                    c.fillRect(engine.X(x), engine.Y(y), engine.default.scale + engine.default._gapX, engine.default.scale + engine.default._gapY);
                                    c.stroke();
                                }


                                fBox(x, y, color);
                                //                                color = 'black';
                                sBox(x, y, color);

                            }
                            // -=-=-= ENGINE END -=-=- 
                            const clog = function(msg) {
                                let _verbose = true;
                                if (_verbose) {
                                    console.log(msg);
                                }
                            }
                            window.clog = clog;
                            // -=-=-= WINDOW/GLOBAL END -=-=- LOBBY BIN START:
                            let _LB = {};
                            window._LB = _LB;
                            // called by _LB.createPreviewCanvas()
                            _LB.setStyles = function(element) {
                                // this is preview_canvas init styles:
                                let QS = element.style;
                                element.width = engine.default.cdx();
                                element.height = engine.default.cdy()
                                QS.background = 'darkgreen';
                                QS.margin = '4px';
                                QS.marginTop = '16px';
                                QS.border = '1px solid rgb(156, 43, 43)';
                                QS.boxShadow = '0px 0px 2px 2px rgb(156, 43, 43)';
                                QS.padding = "auto";
                                QS.textAlign = 'center';
                            };

                            _LB.createPreviewCanvas = function() {
                                // create element type canvas:
                                _e.preview_canvas = document.createElement("canvas");
                                // set id for css:
                                _e.preview_canvas.id = "preview";
                                _e.preview_parent = document.getElementById('minicanvas');
                                // set as child to parent.
                                _e.preview_parent.appendChild(_e.preview_canvas);
                                // set style.
                                _LB.setStyles(_e.preview_canvas);
                                // WIP WIP
                                _e.preview_canvas.onclick = window.gsound_sys.toggle_ost;

                                // get Lobby context for drawing.
                                _LB.ctx = _e.preview_canvas.getContext('2d');
                            };

                            _LB.creator_snake = function() { // The construct
                                this.x = 1;
                                this.y = 5;
                                this.scale = 16;
                                this.vx = 1;
                                this.vy = 0;
                                this.lx = 0;
                                this.ly = 5;
                                this.color = 'rgb(255,181,79)';
                                this.len = 31;
                                this.tail = [];
                                this.direction = 'd';

                                this.move_head = function() {
                                    this.x = this.x + this.vx;
                                    this.y = this.y + this.vy;

                                    this.tail.unshift([this.x, this.y]);
                                    if (this.tail.length - 1 > this.len) {
                                        //                                        this.tlx = this.tail[0][1]
                                        this.tail.pop();
                                    }

                                }

                                this.smA = function() {
                                    this.vx = -1;
                                    this.vy = 0;
                                    this.direction = 'a';
                                }
                                // GO DOWN:
                                this.smS = function() {
                                    this.vx = 0;
                                    this.vy = 1;
                                    this.direction = 's';
                                }
                                // GO RIGHT:
                                this.smD = function() {
                                    this.vx = 1;
                                    this.vy = 0;
                                    this.direction = 'd';
                                }
                                // GO UP:
                                this.smW = function() {
                                    this.vx = 0;
                                    this.vy = -1;
                                    this.direction = 'w';
                                }
                                this.turnLeft = function() {

                                    // if moving right (x_axis++):
                                    if (this.vx > 0) {
                                        this.smW(); // go UP (relative LEFTTURN of RIGHT)
                                        return true;
                                    }
                                    // if moving left (x_axis--):
                                    if (this.vx < 0) {
                                        this.smS(); // go DOWN (relative LEFTTURN of LEFT)
                                        return true;
                                    }
                                    // if moving down
                                    if (this.vy > 0) {
                                        this.smD(); // go RIGHT (relative LEFTTURN of DOWN)
                                        return true;
                                    }
                                    if (this.vy < 0) {
                                        this.smA(); // go LEFT (relative LEFTTURN of UP)
                                        return true;
                                    }

                                    return false;

                                }
                            }

                            let preview_snake = new _LB.creator_snake();

                            _LB.background = function(color = engine.default.styles.background) {
                                c.fillStyle = color;
                                c.fillRect(0, 0, _e.preview_canvas.width, _e.preview_canvas.height)
                                //                                writeText();
                            }

                            _LB.drawSnake = function(color = preview_snake.color) {
                                // draw Head:
                                _e.Box(preview_snake.x, preview_snake.y, color);
                                // draw Tail:
                                if (preview_snake.tail.length > 0) {
                                    for (i = preview_snake.tail.length - 1; i >= 0; i--) {
                                        _e.Box(preview_snake.tail[i][0], preview_snake.tail[i][1], color);
                                        //                                        drawSquare(preview_snake.tail[i][0], preview_snake.tail[i][1], color);
                                    }
                                }
                            }

                            _LB.head_to_tail = function() {
                                //    preview_snake.tail.push([preview_snake.x, preview_snake.y]);
                                preview_snake.tail.unshift([preview_snake.x, preview_snake.y]);
                                if (preview_snake.tail.length - 1 > preview_snake.len) {
                                    //        preview_snake.tail.shift();
                                    preview_snake.tlx = preview_snake.tail[0][1]
                                    preview_snake.tail.pop();
                                }
                            }

                            _LB.collide_isEdge = function() {
                                function check_Edge(x, y) {
                                    if (_e.X(x) > engine.default.cdx() || _e.Y(y) > engine.default.cdy() || x < 1 || y < 1) {
                                        //                            clog('[collide_isEdge()][]' + preview_snake.x + "," + preview_snake.y +"]");
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                                return check_Edge(preview_snake.x + preview_snake.vx, preview_snake.y + preview_snake.vy);
                            }


                            _LB.FPSfifteen = function(currentframe) {
                                if (currentframe % engine.default.lps == 0) {
                                    return true;
                                } else {
                                    return false;
                                }
                            }


                            // -=-=-=-=-==-=-=-=-=-=-=-=- HOOK ME UP::


                            _LB.draw_lerp = function(frame) {
                                var color = "rgba(255,181,79,1)";
                                color = preview_snake.color;
                                //    color = "rgba(200,0,15,.1)";
                                //                                drawSquare(preview_snake.lx, preview_snake.ly, color);
                                _e.Box(preview_snake.lx, preview_snake.ly, color);
                            }

                            _LB.headlerp = function(start = preview_snake.x, end = preview_snake.x + preview_snake.vx, amt = engine.default.lerpamt) {
                                let x_lerped = engine.lerp(preview_snake.lx, preview_snake.x + preview_snake.vx, amt);
                                let y_lerped = engine.lerp(preview_snake.ly, preview_snake.y + preview_snake.vy, amt);
                                preview_snake.lx = x_lerped;
                                preview_snake.ly = y_lerped;
                                _LB.draw_lerp();
                                //    c.strokeRect(dx(x_lerped + 0.5), dy(y_lerped + 0.5), 16, 16);
                            }



                            engine.writeText = function(string = 'SNAFU', scaleX = _e.preview_canvas.width / 2, scaleY = _e.preview_canvas.height / 3, font = '32px serif', fillStyle = preview_snake.color, strokeStyle = 'black', textBaseline = 'top', textAlign = 'center') {
//                                c.font = '48px Audiowide-Regular';
                                c.fillStyle = fillStyle;
                                c.strokeStyle = strokeStyle;
                                c.font = font;
                                c.textAlign = textAlign;
                                c.textBaseline = textBaseline;
                                c.fillText(string, scaleX, scaleY);
                                c.strokeText(string, scaleX, scaleY);

                            }


                            let frame_tracking = 0; // TADO
                            function snake_animation() { // game loop essentially.
                                if (_LB.FPSfifteen(frame_tracking)) {
                                    _LB.background();
                                    _e.writeText();
                                    _LB.head_to_tail();
                                    preview_snake.move_head();
                                    if (_LB.collide_isEdge()) {
                                        preview_snake.turnLeft();
                                    }
                                    _LB.drawSnake();
                                }
                                _LB.headlerp();
                                frame_tracking++;

                                if (frame_tracking >= engine.default.fps) {
                                    frame_tracking = 0;
                                }
                            }

                            let timers = [];
                            timers.push(setInterval(snake_animation, 1000 / engine.default.fps));

                            // EXECUTION START:
                            _LB.createPreviewCanvas();
                            c = _LB.ctx;

                        </script>
                        <br>
                        <div id="colorpicker">
                            <canvas id="colorpickwindow"></canvas>
                            <script id="JS_colorpicker_canvas">
                                // -=-=-=-=-[ color picker: ]
                                function target_cursor() {
                                    return change_cursor('crosshair');
                                }

                                function default_cursor() {
                                    return change_cursor('default');
                                }

                                function change_cursor(cursortype = 'default') {
                                    // default- change cursor to string passed.
                                    let current_cursor = document.body.style.cursor;
                                    // check if alread is there for 'secret triggers'
                                    // returns true when already is set.  evolves to cursor_mgmt?
                                    if (current_cursor == cursortype) {
                                        clog('[cursor_match:][' + cursortype + ']');
                                        return true;
                                    } else {
                                        clog('[change_cursor:][' + cursortype + ']');
                                        return document.body.style.cursor = cursortype;
                                    }
                                }
                                //-=-=-=-^ Cursor Related.


                                function draw_gradient(canvas) {
                                    //			var canvas = document.createElement('canvas');
                                    if (canvas == undefined) {
                                        var canvas = document.getElementById('colorpickwindow');
                                    }
                                    var ctx = canvas.getContext('2d');
                                    var drawFunc = function(width = canvas.width, height = canvas.height, type = 'v') {
                                        canvas.width = width;
                                        canvas.height = height;

                                        ctx.clearRect(0, 0, canvas.width, canvas.height);

                                        var hGrad = ctx.createLinearGradient(0, 0, canvas.width, 0);
                                        hGrad.addColorStop(0 / 6, '#F00');
                                        hGrad.addColorStop(1 / 6, '#FF0');
                                        hGrad.addColorStop(2 / 6, '#0F0');
                                        hGrad.addColorStop(3 / 6, '#0FF');
                                        hGrad.addColorStop(4 / 6, '#00F');
                                        hGrad.addColorStop(5 / 6, '#F0F');
                                        hGrad.addColorStop(6 / 6, '#F00');

                                        ctx.fillStyle = hGrad;
                                        ctx.fillRect(0, 0, canvas.width, canvas.height);

                                        var vGrad = ctx.createLinearGradient(0, 0, 0, canvas.height);
                                        switch (type.toLowerCase()) {
                                            case 's':
                                                vGrad.addColorStop(0, 'rgba(255,255,255,0)');
                                                vGrad.addColorStop(1, 'rgba(255,255,255,1)');
                                                break;
                                            case 'v':
                                                vGrad.addColorStop(0, 'rgba(0,0,0,0)');
                                                vGrad.addColorStop(1, 'rgba(0,0,0,1)');
                                                break;
                                        }
                                        ctx.fillStyle = vGrad;
                                        ctx.fillRect(0, 0, canvas.width, canvas.height);
                                    };
                                    drawFunc();
                                }

                                function color_read(e) {
                                    // the final multipliers are based on the canvas not reading propper:
                                    var x = (e.pageX - this.offsetLeft) * 1.16;
                                    // the y offseet does NOT want black (walls color) chosen:
                                    var y = (e.pageY - this.offsetTop) * (5);
                                    /*
                                        clog(e.x + ',' + e.y);
                                        clog('[' + x + 'x' + y + ']');
                                    */
                                    ctx = document.getElementById('colorpickwindow').getContext('2d');
                                    var img_data = ctx.getImageData(x, y, 1, 1).data;
                                    var R = img_data[0];
                                    var G = img_data[1];
                                    var B = img_data[2];
                                    preview_snake.color = 'rgb(' + R + ',' + G + ',' + B + ')';
                                }

                                const color_picker = document.getElementById('colorpickwindow');
                                color_picker.onclick = color_read;
                                color_picker.onmouseover = target_cursor;
                                color_picker.onmouseout = default_cursor;
                                // -=-=-=-=- FINAL EXECUTIONS:
                                draw_gradient(color_picker); /// TEMPORARY

                            </script>
                        </div>
                    </div>
                    <button onclick='BIN.buts.ready()'>Ready</button>
                    <button onclick='BIN.buts.defaults()'>Defaults</button>
                </div>
            </div> <!-- modal-content end -->
        </center>
    </div><!-- end Modal -->

    <div id="wrapper"></div>
    <!--    complete form  -->
    <div id="footey">
        <center id="footcenter"></center>
    </div>
    <!--    complete form  -->
    <!--    form complete   -->
</body>

</html>
