<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>SNAFUBAB</title>
    <!--    REMOVE SOCKET UNTIL DATAFINISHED COLLECTING::-->
    <!--    <script type="text/javascript" src="/socket.io.dev.js"></script>-->
    <link href="/character_creator.css" rel="stylesheet" type="text/css">
    <link href="/snafu.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/character_creator.cookie.js"></script>

</head>

<body onload="btn_load()">
    <div id="topper">
        <center>
            <h5 id="quote">"Recognize Abstract Patterns"</h5>
        </center>
    </div>
    <!--    complete form  -->
    <div id="Name_modal" class="modal">
        <center>

            <div class="modal-content">
                <!--                need to add id's to these buttons so load can dissapear etc - move style to css:-->
                <button onclick='btn_load()' style="margin-right: 20px; background: transparent;">Load</button>
                <span class="label"> WHO AM I? </span>
                <button onclick='btn_save()' style="margin-left: 20px; background: transparent;">Save</button>
                <div id="InputDiv">
                    <input type="text" id="inputName" maxlength="17" name="Name" value=""><br>
                    <!-- <input type="text" id="inputPass" maxlength="17" name="Pass" value="PASSWORD"><br><br>-->
                    <div id="minicanvas">
                        <canvas id="preview" style="margin-top: 4px;">
                        </canvas><br>
                        <div id="colorpicker">
                            <canvas id="colorpickwindow"></canvas>
                        </div>
                        <script type="text/javascript" src="/character_creator.js"></script>
                            <script type="text/javascript" src="/character_creator.sfx.js"></script>
                    </div>
                    <button onclick='btn_ready()'>Ready</button>
                    <button onclick='btn_defaults()'>Defaults</button>
                </div>
            </div> <!-- modal-content end -->
        </center>
    </div>
    <div id="footey">
        <center>
        </center>
    </div>
    <!--    form complete   -->
</body>

</html>
